li {
    display: flex;
    justify-content:flex-start;
    margin-left: 45px;
    list-style-type: none;
    /* font-size: large; */
}

img {
    height: 250px;
    width: 250px;
}

ul {
    margin-top: 120px;
}

#button {
    margin: 5px;
}
