body {
    display: flex;
    
}

/* #container {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
*/    

img li {
    display: flex;
    justify-content:flex-start;
    margin-left: 40px;
    font-size: large;
}

li {
    list-style-type: none;

}

img {
    height: 250px;
    width: 250px;
}

ul {
    margin-top: 120px;
}

#button {
    margin: 5px;
}

p {
    color:rgb(241, 71, 71);
}